
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Old+Standard+TT:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,800&family=EB+Garamond:wght@400;500;600;700;800&display=swap');


/*--------------------------------------------------Site-wide*/

body {
    font-family: 'EB Garamond', serif;
}

a {
    text-decoration: none;
    color: #F2710D;
 }

a:hover {
    text-decoration: none;
    color: #E8B00A;
}

 ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
 }

 li {
     padding-top: 15px;
 }

/*--------------------------------------------------Header*/

header {
    margin: 0;
}

.header-col {
    height: 360px;
    width: auto;
    position: relative;
}

.logo {
    height: 100%;
    width: auto;
}

.button_img {
    position: absolute;
    top: 175px;
    height: 32px;
    width: 32px;
}

.button_img_l {
    left: 30%;
}

.button_img_r {
    right: 30%;
}

/*The following center class was found at https://www.w3schools.com/howto/howto_css_image_center.asp */

.center {
  display: block;
  margin: auto;
}

.title {
    font-family: 'Old Standard TT', serif;
    text-align: center;
    color: #020202;
    font-weight: 700;
}

.h1, h1 {
    font-weight: 700;
}

.title:hover {
  color:#020202;
 }

 .nav-bar {
    padding-top: 23px;
    padding-bottom: 23px;
    background-color: whitesmoke;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
 }

 .btn-nav-bar {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px 17px 20px 17px;
    background-color: #E4D8D8;
    border-radius: 0;
    width: 95%;
    height: 90%;
 }

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {
    background-color: #b2a7a7;
}

.btn-secondary:hover {
    background-color: #b2a7a7;
}

 .btn-nav-bar a {
    color: #733E24;
    font-family: 'Old Standard TT', serif;
    font-size: x-large;
 }



 /*--------------------------------------------------Main section (index)*/

 .main-content {
    background-color: whitesmoke;
    padding-top: 15px;
    padding-left: 11px;
    border-top: 1px solid;
 }

 .contact-information {
    text-align: center;
 }

/*--------------------------------------------------Footer*/

.me {
    display: inline;
}

.me-container {
    padding: 10px 10px 10px 10px;
}

.socials {
    background-color: #E4D8D8;
    padding: 15px 0 15px 0;
}

/*--------------------------------------------------Media Queries*/

@media (max-width: 576px) {
    .hidden {
    height: 0;
    filter: opacity(0);
    width: 0;
    }
}